* * * * * ubuntu cd /home/ubuntu/apps/oscars/repository && source ../virtualenv/bin/activate && ./build_awards_json.py
* * * * * ubuntu s3cmd -P --add-header=Cache-Control:max-age=5 --guess-mime-type sync /home/ubuntu/apps/oscars/repository/www/live-data/awards.json s3://stage-apps.npr.org/oscars-2013/live-data/awards.json
