<% var has_winner_html = ''; if (category.has_winner === true) { has_winner_html = ' class="has-winner"'; } %>
<div<%= has_winner_html %>>
    <h5><%= category.award %></h5>
    <ul>
		<% if (category.has_winner === true) { %>
			<% _.each(category.nominees, function(nominee){ %>
				<% if (nominee.winner === true) { %>
					<li class="winner"><%= nominee.title %></li>
				<% } %>
			<% }); %>
			<li class="nominees">Also nominated:
				<% _.each(category.nominees, function(nominee){ %>
					<% if (nominee.winner != true) { %>
						<%= nominee.title %>; 
					<% } %>
				<% }); %>
			</li>
		<% } else { %>
			<% _.each(category.nominees, function(nominee){ %>
				<li><%= nominee.title %></li>
			<% }); %>
		<% } %>
    </ul>
</div>