<div class="browse<%= id %> browse-cue">
    <% if (img_filename) { %>
        <div class="thumb" style="background-image: url('img/thumbs/<%= img_filename %>')"></div>
    <% } %>
    <h2><%= movie_name %></h2>

    <div class="content-links">
        <ul>
            <li>
                <% if (link1_url) { %>
                <a href="<%= link1_url %>">&rsaquo; <%= link1_title %></a>
                <% } %>
            </li>

          <li>
                <% if (link2_url) { %>
                <a href="<%= link2_url %>">&rsaquo; <%= link2_title %></a>
                <% } %>
          </li>

          <li>
                <% if (link3_url) { %>
                <a href="<%= link3_url %>">&rsaquo; <%= link3_title %></a>
                <% } %>
          </li>
    </div>
</div>
