{% extends '_base_chat.html' %}

{% block extra_css %}
    {{ CSS.push('less/chat.less') }}
    {{ CSS.push('less/app-chat.less') }}
{% endblock %}

{% block top_content %}
<h1>Oscars 2013</h1>
<h2>The 85th Annual Academy Awards&nbsp;&nbsp;&#8226;&nbsp;&nbsp;February 24, 2013</h2>

<div class="promo">
	<a href="http://www.npr.org/series/academy-awards">
		<div class="promo-thumb"><img src="img/thumb-oscar.png" alt="Oscar statuette" /></div>
		<div class="promo-title">Oscars Background</div>
		<div class="promo-prompt">Headline To Point To The Oscars Hub And Best Picture Cheat Sheet <span class="more">more &rsaquo;</span></div>
	</a>
</div>
{% endblock %}

{% block main_content %}
    <div id="live-chat"></div>
{% endblock %}

{% block extra_foot_js %}
    {{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
    {{ JS.push('js/auth.js') }}
    {{ JS.push('js/chat.js') }}
    {{ JS.push('js/app-chat.js') }}
{% endblock %}
