{% extends '_base.html' %}

{% block extra_head_js %}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="http://s0.2mdn.net/instream/html5/ima3.js"></script>
{% endblock %}

{% block header_content %}
<header>
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1>Across-The-Top Header</h1>
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}
<h1>Oscars 2013</h1>
<div id="story-meta">
	<p class="byline">brought to you by <span>NPR</span></p>
</div>

<div class="row">
	<div class="span8">
                <h2>So, Ben Affleck.</h2>
		<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price.</p>
	</div>
</div>
{% endblock %}

{% block wide_content %}

<div id="video-wrapper">
    <div id="pre-roll-ad"></div>
    <div id="video"></div>
</div>

<div id="credits">
    <div class="wrapper">
        <h3>Pass it on</h3>
        <div id="share-buttons">
            <li class="twitter"><a rel="external" href="http://twitter.com/share?text={{ TWITTER.TEXT|urlencode }}&amp;url={{ TWITTER.URL|urlencode }}" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Credits', '{{ PROJECT_NAME }}']);">Share This Page On Twitter</a></li>
            <li class="facebook"><a rel="external" href="https://www.facebook.com/dialog/feed?app_id={{ FACEBOOK.APP_ID }}&amp;link={{ FACEBOOK.URL|urlencode }}&name={{ FACEBOOK.TITLE|urlencode }}" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Credits', '{{ PROJECT_NAME }}']);">Like This Page On Facebook</a></li>
        </div>
        <h3>Featured films</h3>
        <div id="list-nav-end"></div>
        <h3>Project Credits</h3>
        <p>By: TKTK / Feb. 4, 2012</p>
    </div>
</div>

{% endblock %}


{% block extra_foot_js %}
    {{ JS.push('js/pre_roll.js') }}
    {{ JS.push('js/app.js') }}
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
    window.PAGE_NAME = '{{ PAGE_NAME }}';
</script>
{% endblock %}
