{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/oscars.less') }}
{% endblock %}

{% block extra_head_js %}
	{{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
	{{ JS.push('js/lib/popcorn-complete.js') }}
{% endblock %}
{% block extra_head %}{% endblock %}


{% block content %}

<div id="audio-navbar">
	<div class="branding">
		<h2>Oscars 2013</h2>
	</div>

	<div id="audio">
		<div id="pop-audio" class="jp-jplayer"></div>
			<div id="jp_container_1" class="jp-audio">
				<div class="jp-type-single">
					<div class="jp-gui jp-interface">
						<div class="jp-controls">
							<a href="javascript:;" class="jp-play nav-btn" tabindex="1"><i class="icon-play icon-white">play</i></a>
							<a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;"><i class="icon-pause icon-white">pause</i></a>
						</div>
						<div class="jp-progress-container">
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
							<ul id="cue-nav">
								<li id="credits-nav" class="cue-nav-item" title="Credits"><span>Credits</span></li>
							</ul>
						</div>
						<div class="jp-current-time"></div>
					</div>
				</div>
			</div>
	</div>

    <div id="browse-btn" class="nav-btn"><i class="icon-th-list icon-white"></i></div>

    <div id="next-btn" class="nav-btn back-next" title="Next">Next&nbsp;&rsaquo;</div>
    <div id="back-btn" class="nav-btn back-next" title="Back">&lsaquo;&nbsp;Back</div>
</div>

<div id="list-nav" class="cue-list"></div>

<div id="video"></div>

<div id="title">
    <a id="title-button" href="javascript:;">
        <h5>NPR presents</h5>
        <h1>Oscars 2013</h1>
        <p>TKTK</p>
        <h2>Begin &rsaquo;</h2>
    </a>
</div>

<div id="credits">
        <h3>Pass it on</h3>
        <div id="share-buttons">
            <div class="fb-like" data-href="http://apps.npr.org/music-memoriam-2012/" data-send="false" data-width="300" data-show-faces="false" data-font="arial" data-colorscheme="dark"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="nprmusic">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <h3>Featured Artists</h3>
        <div id="list-nav-end"></div>
        <h3>Project Credits</h3>
        <p>Christopher Groskopf, Alyson Hurt, Suraya Mohamed, Amy Schriefer / NPR</p>
    </div>
</div>

{% endblock %}


{% block extra_foot_js %}{% endblock %}
{% block extra_foot %}{% endblock %}
