{% extends '_base.html' %}

{% block extra_css %}
    {{ CSS.push('less/oscars.less') }}
{% endblock %}

{% block extra_head_js %}
	{{ JS.push('js/lib/jquery.jplayer.js') }}
{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="http://s0.2mdn.net/instream/html5/ima3.js"></script>
<script type="text/javascript" src="http://www.npr.org/templates/javascript/jwplayer/jwplayer.js"></script>
{% endblock %}

{% block header_content %}
<header>
	<div class="container">
		<div class="row">
			<div id="intro" class="span10 center">
				<h1>Oscars 2013: Best Picture Cheat Sheet</h1>
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block wide_content %}
<div class="row">
    <div id="main-content" class="span12">
        <div id="video"></div>

    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div id="main-content" class="span10 center">
		<h3>Featured Films</h3>
		<div id="film-list"></div>
    </div>
</div>
{% endblock %}

{% block credits_content %}
<div class="row">
  <div id="project_info" class="span10 center">
    <h3 class="share">Pass It On</h3>
    <ul id="share-buttons">
      <li class="twitter">
        <a rel="external" href="http://twitter.com/share?text={{ TWITTER.TEXT|urlencode }}&amp;url={{ TWITTER.URL|urlencode }}" alt="Share on Twitter" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Twitter In Credits', '{{ PROJECT_NAME }}']);">Share On Twitter</a>
      </li>

      <li class="facebook">
        <a rel="external" href="https://www.facebook.com/dialog/feed?app_id={{ FACEBOOK.APP_ID }}&amp;link={{ FACEBOOK.URL|urlencode }}&name={{ FACEBOOK.TITLE|urlencode }}" alt="Share on Facebook" target="_blank" onclick="_gaq.push(['_trackEvent', 'Social', 'Click Facebook In Credits', '{{ PROJECT_NAME }}']);">Like On Facebook</a>
      </li>
    </ul>

    <h3 class="credits">Project Credits</h3>
    <p>Movie Clips: Courtesy TK TK TK</p>
    <p>Movie Stills: 
    	<em>Amour</em> - Sony Pictures Classics; 
    	<em>Argo</em> - Keith Bernstein / Warner Bros. Entertainment; 
    	<em>Beasts of the Southern Wild</em> - Fox Searchlight Pictures; 
    	<em>Django Unchained</em> - Andrew Cooper / The Weinstein Company;
    	<em>Les Miserables</em> - Laurie Sparham / Universal Pictures;
    	<em>Lincoln</em> - David James/DreamWorks;
    	<em>Life of Pi</em> - Twentieth Century Fox;
    	<em>Silver Linings Playbook</em> - The Weinstein Company;
    	<em>Zero Dark Thirty</em> - Jonathan Olley
    </p> 
    <p>Video Credits: Adam Cole, Linda Holmes, Bob Mondello, Claire O'Neill / NPR</p>
    <p>Design/Development: Chris Groskopf, Katie Zhu / NPR</p>
  </div>
</div>
{% endblock %}


{% block extra_foot_js %}
    {{ JS.push('js/app.js') }}
{% endblock %}

{% block extra_foot %}
<script type="text/javascript">
    window.PAGE_NAME = '{{ PAGE_NAME }}';
</script>
{% endblock %}
